In [4]:
import re, itertools
import pandas as pd

In [20]:
file_path = "../log_input/log.txt"
host_list = []
request_list = []
timestamp_list = []
status_list = []
http_code_list = []
with open(file_path, "r+", encoding = 'latin-1') as text_file:
    for line in range(0,100000):
        record = text_file.readline()[:-1]
        host = re.sub("[ ]+- -.*", "", record)
        host_list.append(host)
        timestamp = re.sub(".*\[", "", record)
        timestamp = re.sub("\].*", "", timestamp)
        timestamp_list.append(timestamp)
        request = re.sub(".* \"", "", record)
        request = re.sub("\".*", "", request)
        status = re.sub(" .*", "", request)
        status_list.append(status)
        request = re.sub("[a-zA-Z]+ ", "", request)
        request_list.extend(request.split())
        numbers = re.sub(".*\" ", "", record)
        (http_code, byte) = numbers.split()
        http_code_list.append(http_code)

In [5]:
request_list = pd.Series(request_list)
request_list.value_counts()[:20]

HTTP/1.0                                                23673
/                                                       15673
/images/NASA-logosmall.HTTP/1.0                          5117
/images/KSC-logosmall.HTTP/1.0                           4303
/shuttle/countdown/                                      2798
/images/WORLD-logosmall.HTTP/1.0                         2406
/images/USA-logosmall.HTTP/1.0                           2365
/images/MOSAIC-logosmall.HTTP/1.0                        2266
/images/ksclogo-medium.HTTP/1.0                          2242
/images/launch-logo.HTTP/1.0                             2203
/shuttle/countdown/count.HTTP/1.0                        2036
/ksc.HTTP/1.0                                            1702
/shuttle/missions/sts-71/sts-71-patch-small.HTTP/1.0     1670
/images/ksclogosmall.HTTP/1.0                            1580
/shuttle/countdown/video/livevideo.HTTP/1.0              1427
/shuttle/missions/sts-71/images/images.HTTP/1.0          1257
/shuttle/missions/sts-71/mission-sts-71.HTTP/1.0         1229
/shuttle/missions/missions.HTTP/1.0                      1132
/shuttle/countdown/liftoff.HTTP/1.0                      1073
/htbin/cdt_main.HTTP/1.0                                  949
dtype: int64

In [6]:
host_list = pd.Series(host_list)
host_list.value_counts()[:10]

piweba3y.prodigy.com      490
disarray.demon.co.uk      379
alyssa.prodigy.com        363
burger.letters.com        348
poppy.hensa.ac.uk         306
piweba4y.prodigy.com      300
131.182.28.171            278
piweba1y.prodigy.com      254
lab8.pc.fsu.edu           206
dawn14.cs.berkeley.edu    195
dtype: int64

In [7]:
timestamp_list = pd.Series(timestamp_list)
timestamp_list.value_counts()[:10]

01/Jul/1995:16:48:03 -0400    21
01/Jul/1995:11:55:54 -0400    21
01/Jul/1995:14:44:38 -0400    20
01/Jul/1995:13:29:59 -0400    20
01/Jul/1995:15:48:10 -0400    20
01/Jul/1995:11:45:29 -0400    20
01/Jul/1995:13:00:03 -0400    20
01/Jul/1995:07:51:24 -0400    20
01/Jul/1995:10:15:34 -0400    20
01/Jul/1995:02:13:58 -0400    20
dtype: int64

In [18]:
from datetime import datetime
from datetime import timedelta
dt = datetime.strptime("01/Jul/1995:15:48:10 -0400", "%d/%b/%Y:%H:%M:%S %z")
dt1 = dt + timedelta(seconds=20)

In [21]:
status_list = pd.Series(status_list)
status_list.value_counts()

GET     99073
POST      809
HEAD      109
            9
dtype: int64

In [22]:
http_code_list = pd.Series(http_code_list)
http_code_list.value_counts()

200    91841
304     5041
302     2746
404      205
401      167
dtype: int64